.no-products {
    width: 100%;
    text-align: center;
}

.product-card-img-holder {
    text-align: center;
    padding: 0.5rem;
}

.product-card-img {
    height: 250px;
    max-width: 100%;
    width: auto;
}

svg.product-card-img, svg.product-img {
    text-anchor: middle;
}

.product {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.product-img-holder {
    padding: 0.5rem;
    text-align: center;
}

.product-img {
    height: 100%;
    max-height: 25em;
    max-width: 100%;
    width: auto;
}

.comment {
    padding: 0.5rem;
}

div.scrollmenu {
    display: flex;
    background-color: #343a40;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

div.scrollmenu a {
    flex: 0 0 auto;
    color: white;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    margin-left: auto;
}

div.scrollmenu a:last-child {
    margin-right: auto;
}

div.scrollmenu a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    padding-top: 3rem;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 0.25rem 0.25rem 0.25rem 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 1.5rem;
    margin-left: 2rem;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 0.75rem;}
    .sidenav a {font-size: 1rem;}
}

.non-mobile-navbar {
    display: none;
}

@media (min-width: 768px) {

    .non-mobile-navbar {
        display: flex;
    }

    .mobile-navbar {
        display: none;
    }

}