.no-products {
    width: 100%;
    text-align: center;
}

.product-card-img-holder {
    text-align: center;
    padding: 0.5rem;
}

.product-card-img {
    height: 250px;
    max-width: 100%;
    width: auto;
}

svg.product-card-img, svg.product-img {
    text-anchor: middle;
}

.product {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.product-img-holder {
    padding: 0.5rem;
    text-align: center;
}

.product-img {
    height: 100%;
    max-height: 25em;
    max-width: 100%;
    width: auto;
}

.comment {
    padding: 0.5rem;
}

div.scrollmenu {
    display: flex;
    background-color: #343a40;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

div.scrollmenu a {
    flex: 0 0 auto;
    color: white;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    margin-left: auto;
}

div.scrollmenu a:last-child {
    margin-right: auto;
}

div.scrollmenu a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}