.no-products {
    width: 100%;
    text-align: center;
}

.product-card-img-holder {
    text-align: center;
    padding: 0.5rem;
}

.product-card-img {
    height: 250px;
    max-width: 100%;
    width: auto;
}

svg.product-card-img {
    text-anchor: middle;
}