{% extends "auctions/layout.html" %}

{% block title %}
Create
{% endblock %}

{% block body %}
<div class="container mt-5 mb-2 mx-auto">
    <form action="{% url 'auctions:create' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <label for="title">Title of the listing</label>
                <input type="text" name="title" class="form-control" id="title" autofocus autocomplete="off" required>
            </div>
            <div class="col-md-4">
                <label for="bid">Starting bid of the listing</label>
                <input type="number" name="initial_bid" class="form-control" id="bid" min="0" placeholder="0"
                    autocomplete="off" required>
            </div>
            <div class="col-md-4">
                <label for="category">Add category</label>
                <input type="text" name="category" class="form-control" id="category" autocomplete="off" required>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <label for="description">Description of the listing</label>
                <textarea name="description" class="form-control" id="description" rows="10" required></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <button type="submit" class="btn btn-dark">Add</button>
        </div>
    </form>
</div>
{% endblock %}