{% extends "auctions/layout.html" %}

{% block title %}
Active Listing
{% endblock %}

{% block body %}
<div class="row mt-3 mx-auto">
    <div class="col">
        <form id="categories" action="{% url 'auctions:index' %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Category</span>
                </div>
                <select id="category" class="form-control" name="category" required>
                    <option value="All">All</option>
                    {% for category in categories %}
                    {% if category == selected %}
                    <option value="{{category}}" selected>{{category}}</option>
                    {% else %}
                    <option value="{{category}}">{{category}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-1 mb-3 mx-auto">
    {% for product, bid in zip_products_bids %}
    <div class="col-md-4">
        <div class="card mb-4 shadow">
            {% if product.category == "TV" %}
            <img class="card-img-top .img-thumbnail"
                src="https://images-na.ssl-images-amazon.com/images/I/71f-d89oqvL._SL1500_.jpg" alt="" />
            {% else %}
            <img class="card-img-top .img-thumbnail"
                src="https://images-na.ssl-images-amazon.com/images/I/71yXShgxvpL._SL1500_.jpg" alt="" />
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{product.title | title}}</h5>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="card-text">Current Bid: INR {{bid}}</div>
                    <div><a role="button" href="{% url 'auctions:product' product.pk %}"
                            class="btn btn-sm btn-outline-dark">View</a></div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="text-muted" style="width: 100%;text-align: center;">
        No products!
    </div>
    {% endfor %}
</div>
{% endblock %}