<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commerce: {% block title %}{% endblock %}</title>
</head>

<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'auctions:index' %}">Active Listing</a></li>
            <li><a href="{% url 'auctions:create' %}">Create Listing</a></li>
            <li><a href="{% url 'auctions:watchlist' %}">Watchlist</a></li>
            <li><a href="{% url 'auctions:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'auctions:register' %}">Register</a></li>
            <li><a href="{% url 'auctions:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
</body>

</html>